<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>


</head>
<body>
        <button onclick="showDialog()">insert</button>
        <dialog id="newTodoItem">
           <textarea id="todoText">hello</textarea>
            <button onclick="hideDialog()">取消</button>
             <button onclick="addTodo()">确定</button>
      </dialog>
<ul>
      {% for value in data %}
        <li>{{ value[1] }} <button onclick="deleteTodo( {{ value[0] }} )">delete</button></li>

      {% endfor %}
</ul>
<!--<ul>-->
    <!--<li>测试一</li>-->
    <!--<li>测试二</li>-->
    <!--<li>测试三</li>-->
    <!--<li>测试四</li>-->
    <!--<li>测试五</li>-->
<!--</ul>-->

    <script>
        function deleteTodo(index){
         console.log('delete',index);
         fetch('http://127.0.0.1:5000/todo/'+index,{ method : 'DELETE'})
                .then(
                    function(response){
                      console.log(response.json());
                      return ;
                    }
                    ).then(
                    function(response){
                        window.location.reload();
                    }
                    )

        }

        function showDialog(){
            document.getElementById('newTodoItem').showModal();

        }
         function hideDialog(){
            document.getElementById('newTodoItem').close();

        }

         function addTodo(){
            var text= document.getElementById('todoText').value;
            fetch('http://127.0.0.1:5000/todo',{
                headers: {'Content-Type':'application/json'},
                method:"POST",
                body:JSON.stringify({text:text}),

            })
            document.getElementById('newTodoItem').close();
            window.location.reload()


        }
    </script>
</body>
</html>